@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}


body, button, input, select, textarea, ::placeholder{
  font-family: "Marvel", sans-serif;
}

body{
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(92,89,81,1) 35%, rgba(66,24,17,1) 100%);
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

.container {
  
  margin: 0 auto;
  text-align: center;

}

h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* ================================================================= HEADER =================================================================*/
header {

  padding: 1rem 3em 1em 2em;
  background: transparent;
  position: relative;
  z-index: 2;

}

header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  object-fit: cover;
  width: 140px;
  cursor: pointer;
  margin-right: 44px;
}


.navigation-links {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.navigation-links a{

 color: white;
  padding: 10px;
  border-radius: 5px;
}

.search{
  display: inline-flex;
  align-items: center;

  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.search :is(input, button){
  background: transparent;
  color:inherit;
  border: none;
  outline: none;
}

.searchInput{
  width:0;
  transition: width 0.5s;
}

.searchButton{
  display: grid;
  place-items: center;
 
  cursor: pointer;
  transition: color 0.25s;
}

.fa-magnifying-glass{
  font-size: 20px;
}

.searchButton:hover{
  color: #e3e3e3;
}

.search:focus-within input{
  width: 200px;

}

::placeholder{
  font: inherit;
  color:#e3e3e3;
}


.container-home{
  display: flex;
  align-items: center;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient( to bottom, rgb(2 2 8 / 50%), rgb(17 17 19 / 50%) ), url("./assets/img/iron.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  filter: blur(0.5px);
 

}


.img2{
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: all .3s ease;
  opacity: 0;

}

.container-home:hover{
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0)
   ;
}

.container-home::before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(0 ,0, 0, 0.5)50%, rgba(0,0,0)95%);
opacity: 0;
transition: all .3s ease;
}


.container-home :hover .img2{
  opacity: 1;
  transform: translateY(10%);

}
/* .div1 {
    background: linear-gradient( to bottom, rgb(0 0 0 / 96%), rgb(7 7 19 / 89%));
    width: 803px;
    transform: scale(1.1); 
 

}

.div2{
  background-image: linear-gradient( to bottom, rgb(2 2 8 / 50%), rgb(17 17 19 / 50%) ), url("./assets//img/marvel.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  filter: blur(0.5px);
  transform: scale(1.1); 
  flex:1;
 

}
 */







/* =================================================================MAIN =================================================================  */


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  gap: 23px;
  list-style: none;


}




main article {
  cursor: pointer;
  padding: 10px;
  width: 231px;
  color: white;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  /* background: white; */
  text-align: center;
  border-radius: 12px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px #ff253a;
}




main article h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

main article p{
  font-size: 15px;
  overflow: hidden;
  margin-bottom: 10px;
}



main article img{
  width: 100%;
  height: auto;
  float: left;
  border-radius: 5px;
}

.characters-img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  float: left;
  border-radius: 5px;
}
/*========================================COMICS================================*/

.selected-character h2{
  text-align: center;
  color: white;
}

.selected-character article h2{
  color: black;
}

.id-comic{
  background-color: transparent;
  padding: 60px;
  border-radius: 5px;
  border: 1px solid white;
  width: 500px;
}

.id-comic h2, .id-comic p{
  color: white
}

.id-comic img{
  margin-bottom: 20px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}