@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}


body,
button,
input,
select,
textarea,
::placeholder {
  font-family: "Marvel", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(92, 89, 81, 1) 35%, rgba(66, 24, 17, 1) 100%);
}

button {
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

.container {

  margin: 0 auto;
  text-align: center;

}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* ================================================================= HEADER =================================================================*/
header {


  background: transparent;
  position: relative;
  z-index: 2;
  display: flex;

  align-items: center;



}

/*==============================================================HERO==============================================*/

.hero{
  width: 100%;
  position: absolute;
    top: 0;
    height: 368px;
 
 
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  background-image: url('./assets/img/spiderman.jpg');
}
.logo {
  z-index: 1400;
}

.logo img {
  object-fit: cover;
  width: 140px;
  cursor: pointer;
  margin-right: 44px;
  background: white;
  transition: 0.5s ease;
  margin: 20px;

}




.logo img:hover {
  background: black;
}


/* ================================================================= SEARCH =================================================================*/

.searchContainer{
  margin: 0 auto;
  width: 337px;
}

.search {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  margin: 20px;
  width: 300px;
}

.search :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.searchInput {
  width: 0;
  transition: width 0.5s;
  font-size: 20px;
}

.searchButton {
  display: grid;
  place-items: center;

  cursor: pointer;
  transition: color 0.25s;
}

.fa-magnifying-glass {
  font-size: 20px;
}

.searchButton:hover {
  color: #e3e3e3;
}

.search:focus-within input {
  width: 300px;

}

::placeholder {
  font: inherit;
  color: #e3e3e3;
}


.container-loading {
  height: 80vh;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  display: flex;
  justify-content: center;


}

.loading {
  position: relative;

  margin: auto;
  width: 300px;
  height: 300px;
  --colorA: #7ad9ff;
  background-image: url("./assets/img/logito.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  animation: rotate 5s infinite linear;

}

.loading::before,
.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border-top: 10px solid #fff;
  filter: drop-shadow(0 0 2px var(--colorA)) drop-shadow(0 0 5px var(--colorA)) drop-shadow(0 0 10px var(--colorA)) drop-shadow(0 0 20px var(--colorA));
  animation: rotate 3s infinite linear;

}

.loading::after {
  --colorA: #ff417f;
  animation-delay: -1.5s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.box{
  position: absolute;
  top: 15vh;
  right: 2vw;
  z-index: 3;
  
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border: 4px solid rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  z-index: 1;

}




.box .content{
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box .content>div{
  display: flex;
  gap: 20px;
}

.box .content h2{
  margin-top: 15px;
  width: 350px;
  font-size: 3.5em;
  text-align: center;
}


.box .content >div a{
  margin-top: 12px;
  width: 150px;
  /* height: 39px; */
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  background: transparent;
  border: 2.4px solid #fff;
  border-radius: 50px;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.box .content >div a:hover{
  transition: 0.5s;
  color: #000;
  background: #fff;
}


.container-home {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgb(2 2 8 / 50%), rgb(17 17 19 / 50%)), url("./assets/img/hola.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  transform: transition 0.5s ease-in-out;

}



/* =================================================================Pagination =================================================================  */




.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 30px;
  margin: 30px auto;
  

}

.pagination li {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #f1dede;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
}

.pagination > li.active {
  background-color: #f8e4e5;
}
.pagination > li.active > a {
  color: rgb(12, 10, 10);
  font-weight: bold;
}
.pagination li:hover {
  background-color: #f17081;
 transform: scale(1.1);
  
}
.pagination li:hover > a {
  color: white;
  
}





/* =================================================================MAIN =================================================================  */


main{
  margin-top: 300px;
}

.title {

  font-size: 70px;
  color: white;
  text-align: center;




}

main .container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  gap: 23px;
  list-style: none;
  max-width: 1024px;
}



main article {
  cursor: pointer;
  color: white;
  text-align: center;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px #ff253a;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  position: relative;
  max-width: 300px;
  height: 300px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 15px;



}


.comics-article {
  height: 400px;
}

.comics-article img {

  height: 300px;
  max-width: 100%;
  border-radius: 15px;

}

.comics-article:hover {
  height: 450px;
  transition: 0.2s ease-in-out;
}


main article:hover {
  height: 320px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}







main .container-cards h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-cards p {
  font-size: 15px;
  overflow: hidden;
  margin-bottom: 10px;

}



main article img {
  width: 260px;
  height: 200px;

  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px #f3e7e8;
  z-index: 1;
  margin-top: 20px;
  opacity: 0.9;
  transition: opacity .2s ease-out;
}

.characters-img {
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
}


.content-text {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;




}



main article:hover .content-text {
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.1s;
  background-color: white;
  border-radius: 15px;




}

.container-likes {
  text-align: right;
  font-size: 25px;

}







/*========================================COMICS================================*/
.selected-character {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.selected-character h2 {
  text-align: center;
  color: white;
}

.selected-character article h2 {
  color: black;
}

.selected-character>div:first-child {
  display: flex;
  align-items: center;
  gap: 50px;
}

.selected-character>div:first-child h2 {
  font-size: 70px;
  color: white;
  text-align: center;


}

.selected-character>div:first-child img {
  height: 250px;
  border-radius: 50%;
}

.favorites-class {
  margin-top: 2em;
}

.id-comic {
  background-color: transparent;
  padding: 60px;
  border-radius: 5px;
  border: 1px solid white;
  width: 500px;
}

.id-comic h2,
.id-comic p {
  color: white
}

.id-comic img {
  margin-bottom: 20px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}


/*========================================= FORMULAIRE================*/
.formulaire {
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  z-index: 999;
  color:white;
  justify-content: center;
}


.closeModal {
  position: absolute;
  top: 4%;
  right: 7%;
  cursor: pointer;
  transition: transform .2s;
  color: rgb(253, 247, 247);
  font-weight: bold;
  font-size: 25px;
  z-index: 1400;
}

.closeModal:hover {
  transform: scale(1.5)
}

.formContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgb(11, 11, 11);
  padding: 48px 70px;
  border-radius: 25px;


}



.formulaire form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;

}

.formulaire form input {
  padding: 14px;
  border-radius: 5px;
  width: 100%;
  outline: 0;
  font-size: 20px;
  border-width: 0 0 2px;
  background-color: #2E2C30;
  border-color: rgb(164, 164, 181)
}


.formulaire form input:focus {
  border: 2px solid rgb(166, 150, 255);
  outline: none;
}


.formulaire form .buttonFormulaire {
  margin-top: 25px;
  background-color: #ff2d55;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;

}

.formulaire form h1 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.formulaire form p{
  cursor: pointer;
}


.wrong {
  border: 1px solid rgb(244, 24, 24);
}

.passwordInput {
  position: relative;

}


.eyeIcon {
  position: absolute;
  top: 30%;
  font-size: 20px;
  right: 10px;
  cursor: pointer;
}

.nav-icon {
  display: none;
}























.open #menu {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.open #menu:before {
  transform: translateX(-50%) translateY(-50%) scale(3);
}

.open #menu:after {
  transform: translateX(-50%) translateY(-50%) scale(2);
  transition-delay: 0.15s;
}

.open #menu .wrapper .label-menu {
  opacity: 1;
  transform: translateX(0) rotate(-90deg);
  transition-delay: 0.65s;
}

.open #menu .wrapper ul>li {
  opacity: 1;
}

.open #menu .wrapper ul>li:first-child span {
  transition-delay: 0.7s;
}

.open #menu .wrapper ul>li:nth-child(2) span {
  transition-delay: 1s;
}

.open #menu .wrapper ul>li:nth-child(3) span {
  transition-delay: 1.3s;
}

.open #menu .wrapper ul>li:nth-child(4) span {
  transition-delay: 1.6s;
}

.open #menu .wrapper ul>li>div.active span:after,
.open #menu .wrapper ul>li>div.active span:before,
.open #menu .wrapper ul>li>div:hover span:after,
.open #menu .wrapper ul>li>div:hover span:before {
  top: 0;
}

.open #menu .wrapper ul>li>div span {
  transform: translateY(0);
}

.open #menu .menu-contact .language-selector,
.open #menu .menu-contact .menu-email,
.open #menu .menu-contact>.menu-sub-infos {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.8s;
}

.open #menu .menu-contact>.menu-sub-infos {
  transition-delay: 2s;
}

.close #menu {
  transition: all 0.3s ease-in-out 0.2s;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close #menu:before {
  transform: translateX(-50%) translateY(-50%) scale(0);
}

.close #menu:after {
  transform: translateX(-150%) translateY(-150%) scale(0);
  transition-delay: 0 !important;
  transition-delay: 0s;
}

#menu {
  overflow: hidden;
  z-index: 820;
  display: block;
  position: fixed;
}

#menu:after,
#menu:before {
  content: "";
  z-index: 9;
  transform: translateX(-50%) translateY(-50%) scale(0);
  position: absolute;
  left: 0;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}

#menu:before {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  padding-bottom: 100%;
  top: 0;
}

#menu:after {
  width: 60%;
  background-color: #E02F1F;
  padding-bottom: 60%;
  top: 50%;
}

#menu .wrapper {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

#menu .wrapper .label-menu {
  border-bottom: 1px solid #fff;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateX(-30px) rotate(-90deg);
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 27px;
  left: -webkit-calc(5vw - 19px);
  left: calc(5vw - 19px);
  font-size: 18px;
}

#menu .wrapper ul {
  padding-left: 10%;
}

#menu .wrapper ul>li {
  opacity: 0;
  transform: translateX(-20px);
}

#menu .wrapper ul>li,
#menu .wrapper ul>li>div {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

#menu .wrapper ul>li>div {
  color: #fff;
  display: inline-block;
  margin: 3px 0;
  text-transform: uppercase;
}

#menu .wrapper ul>li>div>span {
  font-size: 70px;
  display: inline-block;
  position: relative;
  z-index: 8;
  padding: 2px 25px;
  transform: translateY(100%);
  transition: all 0.3s cubic-bezier(0.25, 1.65, 0.92, 0.93);
}

#menu .wrapper ul>li>div>span:after,
#menu .wrapper ul>li>div>span:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  height: 100%;
  transition: top 0.3s ease-in-out;
}

#menu .wrapper ul>li>div>span:before {
  background-color: #f77382;
}

#menu .wrapper ul>li>div>span:after {
  background-color: #2C211F;
  transition-delay: 0.1s;
}

#menu .wrapper ul>li>div .text-link {
  position: relative;
  z-index: 6;
  color: white;
}




.login {
  cursor: pointer;
  text-transform: uppercase;
  z-index: 1300;
  position: absolute;
  top: 25px;
  right: 11vw;
  font-size: 18px;
  color: #fff;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition: all 0.3s ease-in-out;
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
  letter-spacing: 1px;
}


.login:hover {
  --tw-bg-opacity: 1;
  background-color: #a08f9e;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.375rem;
}


.hidden {
  display: none;
}

.burger {
  cursor: pointer;
  z-index: 1300;
  position: absolute;
  top: 27px;
  right: 5vw;
  width: 38px;
  height: 26px;
}

.burger .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a08f9e;
  box-shadow: rgb(0, 0, 0) 2px 2px 4px;
  transition: all 0.3s ease-in-out;
  top: 0;
  box-shadow: rgb(0, 0, 0) 2px 2px 4px;
}

.burger .line.l2 {
  top: 8px;
}

.burger .line.l3 {
  left: unset;
  right: 0;
  top: 16px;
  width: 55%;
}

.burger:hover .line.l1,
.burger:hover .line.l3 {
  transform: translateX(-8px);
  width: 100%;
}

.burger:hover .line.l2 {
  transform: translateX(25px);
  width: 50%;
}





@media screen and (max-width: 1100px) {
  .open #menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .open #menu:before {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(4);
    transform: translateX(-50%) translateY(-50%) scale(4);
  }

  #menu:after {
    width: 80%;
    padding-bottom: 80%;
  }
}



@media only screen and (max-width: 960px) {


  header {
    background: transparent;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: start;
  }

  .logo img {
    width: 81px;
  }



  .nav-icon {
    display: block;
    position: absolute;
    right: 23px;
    font-size: 1.8rem;
    cursor: pointer;
    color: rgb(237, 220, 228);
    margin-top: 10px;
    z-index: 2;
  }

  .nav-icon:hover {
    transform: scale(1.1);
  }

  .title {
    margin-top: 5em;
  }

  .selected-character>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }



  .container-home {

    background-image: linear-gradient(to bottom, rgb(2 2 8 / 50%), rgb(17 17 19 / 50%)), url("./assets/img/hello.png");

  }

  .formulaire form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
  
  }

  .formContainer{
    padding: 40px 50px;
  }


}




@media only screen and (max-width: 840px) {
  .login {
    right: 22vw;
  }

  .signup {
    right: 43vw !important;
  }

}


@media screen and (max-width: 767px) {
  .open #menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .open #menu:before {
    transform: translateX(0) translateY(-50%) scale(7);
  }

  .open #menu:after {
    transform: translateX(0) translateY(-50%) scale(6);
  }

  #menu {
    overflow: hidden;
    z-index: 820;
    display: block;
    position: fixed;
  }

  #menu:after {
    width: 80%;
    padding-bottom: 80%;
  }

  #menu .wrapper ul {
    padding-left: 0;
    text-align: center;
  }

  #menu .wrapper ul>li {
    transform: translateX(0);
  }

  #menu .wrapper ul>li>div>span {
    font-size: 50px;
  }
  .box{
    top: 27vh;
      right: 4vw;
      width: 339px;
  }
  .box img{
    height: 170px;
  }

  .pagination li{
    padding: 2px 2px;
  }

}